    
    {if $activate_rating == 'Y'}
    {foreach from=$rating_images item=item}<img src="{$template_url}/image/rating/{$item.image}/{$item.type}.png" alt="" />{/foreach}
    {$page_data.rating} {$txt_out_of} {$rating_top_value}
    ({$txt_ratings}: {$page_data.rating_number})
    {/if}
    

    <!-- Comment List Start -->
    <a name="c5t_comment"></a>
    <h2 class="c5t_headline">{$txt_comment_headline} ({$result_number})</h2>
    
    <div class="c5t_comment_list">        
        {foreach from=$comment_list item=item}
            <div class="c5t_comment_item_background">
            <div class="c5t_comment_item">
            
	            {if $activate_rating == 'Y'}
	            <div class="c5t_comment_item_admin_rating">
			        {foreach from=$item.rating_images item=rating_item}<img src="{$template_url}/image/rating/{$rating_item.image}/{$rating_item.type}.png" alt="" />{/foreach}
				    {$item.comment_rating} {$txt_out_of} {$rating_top_value}
	            </div>
	            {/if} 
	            
                <div class="c5t_comment_item_title">{$item.comment_title}</div>
                <div class="c5t_comment_item_text">{$item.frontend_text}</div>
                <div class="c5t_comment_item_details">#{$item.comment_number} - {if $item.comment_author_homepage != '' and $item.comment_author_homepage != 'http://'}<a href="{$item.comment_author_homepage}">{$item.comment_author_name}</a>{else}{$item.comment_author_name}{/if} - {$item.comment_date} - {$item.comment_time}</div>
            </div>
            </div>
        {/foreach}
    </div>
    <!-- Comment List End -->
    
    
    
    
    
    
    <!-- Pagination Form Start -->
    {if $comment_list and $display_pagination}
        <div id="c5t_frontend_pagination" class="c5t_frontend_pagination">
          {if $browse_previous == 2}
            <a href="" onclick="c5t.page(1); return false;">{$txt_start}</a>
            <a href="" onclick="c5t.page('{$previous_page}'); return false;">{$txt_previous_page}</a>
          {else}
            <span>{$txt_start}</span>
            <span>{$txt_previous_page}</span>
          {/if}
          
          {if $browse_next == 2}
            <a href="" onclick="c5t.page('{$next_page}'); return false;">{$txt_next_page}</a>
            <a href="" onclick="c5t.page('{$result_pages}'); return false;">{$txt_end}</a>
          {else}
            <span>{$txt_next_page}</span>
            <span>{$txt_end}</span>
          {/if}
        </div>
    {/if}
    <!-- Pagination Form End -->
    