<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it-it">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0, maximum-scale=1">
    <link href="/images/rossLogo.jpg" rel="shortcut icon" type="image/x-icon">
    <link href="http://gmpg.org/xfn/11" rel="profile">

    <title>
      Riccardo Mich
    </title>

    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/hyde.css">
    
    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="/images/rossLogo.jpg">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  </head>
  <body>
  <?php include_once("analyticstracking.php") ?>
    <!-- Left Tab -->
    <header class="masthead">
      <div class="masthead-inner">
        <h1 class="name">Riccardo Mich</h1>
        <h2 class="team">Team Futura</h2> 
        <div class="mainnav">
              <a class="navitem" href="/">Blog</a>
              <a class="navitem" href="/aboutme">About me</a>
              <!--<a class="navitem" href="/images">Media</a>-->
              <a class="navitem" href="/results">Results</a>
        </div>
		<div class="bio">
			<img class="bioimg" src="/images/ricky-cane.jpg">
			<p> <a href="/about"><h7 class="over">&copy; 2013 Stefano Mich</h7></a></p>
		</div>
		 <div class="social">
           <a href="https://www.facebook.com/riccardo.mich?fref=ts">
            <img class="socialimg" src="/images/icon-facebook.png"></a>
           <a href="http://i.instagram.com/ricky_mich/">
            <img class="socialimg" src="/images/icon-instagram.png"></a>
         </div>
      </div>
    </header>               
    
    <div class="content container">
      {{ content }}
    </div>
    
    <!-- Sponsor footer -->
    <footer class="sponsorfooter">                   
    <p>Sponsor</p>
     <a href="http://www.zorzimax.it"><img class="sponsorimg" src="/images/zorzi.png"></a>
     <a href="http://www.visittrentino.it"><img class="sponsorimg" src="/images/Trentino.jpg"></a>
     <a href="http://www.teamfutura.it/"><img class="sponsorimg" src="/images/futura.jpg"></a>
    
     </footer>
  </body>
</html>
